<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <img class="logo" src="https://t4.ftcdn.net/jpg/01/84/05/41/400_F_184054194_syWsbUNrTNBrq6kN7A29z0G1owlw7hyp.jpg" />
    <div class="sidenav-style">
      <a routerLink="/" class="sidenav-item">
        Home page
      </a>
      <a routerLink="/home/about" class="sidenav-item item-child">
        About us
      </a>
      <a routerLink="/inside" class="sidenav-item">
        Inside app
      </a>
      <a routerLink="/inside/details" class="sidenav-item item-child">
        Details
      </a>
      <a routerLink="/inside/content" class="sidenav-item item-child">
        Content
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-breadcrumb class="breadcrumb-style"></app-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>